[loading]
module_dir = "/modules"
compiler_backend = "cranelift"
test_mode = false

[loading.secrets]

[loading.log_type_overrides]
"hello_world.wasm" = "hello_world"

[loading.accessory_data_log_type_overrides]

[loading.accessory_data_file_overrides]

[loading.persistent_response_size]

[loading.computation_amount]
default = 55_000_000
[loading.computation_amount.log_type]
[loading.computation_amount.module_overrides]

[loading.memory_page_count]
default = 300
[loading.memory_page_count.log_type]
[loading.memory_page_count.module_overrides]

[loading.storage_size]
default = "Unlimited"
[loading.storage_size.log_type]
[loading.storage_size.module_overrides]
