# macOS
.DS_Store

# Artefacts
/compiled_modules
/runtime/benchmark-results

# Private items
/runtime/plaid/private-resources

# Target folders
/runtime/target
/modules/target
/target
/plaid-stl/target