# macOS
.DS_Store

# Artefacts
/compiled_modules
/runtime/performance-monitoring/*
/module_signatures

# Private items
/runtime/plaid/private-resources
/runtime/plaid/resources/secrets.json

# Target folders
/runtime/target
/modules/target
/target
/plaid-stl/target