# macOS
.DS_Store

# Artefacts
/compiled_modules
/runtime/performance-monitoring/*
/module_signatures
runtime/plaid_ready

# Private items
/runtime/plaid/private-resources
/runtime/plaid/resources/secrets.json
/runtime/plaid/resources/plaid.llvm.toml

# Target folders
/runtime/target
/modules/target
/target
/plaid-stl/target
