name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  config_check:
    uses: ./.github/workflows/ConfigChecker.yaml
  
  secrets_manager:
    uses: ./.github/workflows/SecretsManager.yaml

  module_checker:
    uses: ./.github/workflows/ModuleChecker.yaml
  
  release:
    name: Release
    needs: [config_check, secrets_manager, module_checker]
    runs-on: ubuntu-latest
    steps:
      - name: Download config checker
        uses: actions/download-artifact@v4
        with:
          name: config_check

      - name: Download secrets manager
        uses: actions/download-artifact@v4
        with:
          name: secrets_manager

      - name: Download module checker
        uses: actions/download-artifact@v4
        with:
          name: module_checker

      - name: Release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        with:
          files: |
            config_check
            secrets_manager
            module_checker
