name: Rust Docs (Runtime)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        run: |
          rustup toolchain install 1.86.0
          rustup default 1.86.0
          rustup target add wasm32-unknown-unknown

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Documentation
        working-directory: ./runtime
        run: cargo doc --no-deps 

      - name: Fix Redirect
        working-directory: ./runtime
        shell: bash
        run: |
          # Auto-detect crate name to create the correct redirect
          CRATE_NAME=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].name' | tr '-' '_')
          echo "<meta http-equiv=\"refresh\" content=\"0; url=${CRATE_NAME}/index.html\">" > target/doc/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          working-directory: ./runtime
          path: 'target/doc'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

